# History files
.Rhistory
.Rapp.history
*.Rproj
**.DS_Store

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
tests/testthat/*.pdf
.Rproj.user
